[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/derinil/cimgui.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/derinil/zig-libuv.git
[submodule "deps/h264bsd"]
	path = deps/h264bsd
	url = https://github.com/derinil/h264bsd.git
[submodule "deps/robotc"]
	path = deps/robotc
	url = https://github.com/derinil/robotC.git
	
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/derinil/mach-glfw.git
[submodule "deps/binn"]
	path = deps/binn
	url = https://github.com/liteserver/binn.git
