[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/derinil/cimgui.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/derinil/zig-libuv.git
[submodule "deps/h264bsd"]
	path = deps/h264bsd
	url = https://github.com/derinil/h264bsd.git
[submodule "deps/robotc"]
	path = deps/robotc
	url = https://github.com/derinil/robotC.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/hexops/mach-glfw.git
[submodule "deps/vulkan"]
	path = deps/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "deps/libxev"]
	path = deps/libxev
	url = https://github.com/mitchellh/libxev
